<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="pastry-plugin-OCR"
        version="1.0.0">

    <name>pastry-plugin-OCR</name>
    <description> is a</description>
    <license>MIT</license>
    <keywords>OCR</keywords>
    <repo>https://github.com/pastryTeam/pastry-plugin-OCR.git</repo>
    <issue>https://github.com/pastryTeam/pastry-plugin-OCR/issues</issue>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ScanOCR">
                <param name="ios-package" value="PTScanOCR"/>
            </feature>
        </config-file>

        <!-- 添加js代码的示例 -->
        <js-module src="www/PTScanOCR.js" name="scanOCR">
            <clobbers target="PTOCRManager" />
        </js-module>

        <!-- 添加代码文件的示例 -->
        <header-file src="src/ios/PTScanOCR.h" />
        <source-file src="src/ios/PTScanOCR.m" />
        <header-file src="src/ios/IDCardViewController.h" />
        <source-file src="src/ios/IDCardViewController.m" />
        <header-file src="src/ios/OCR/libexidcard/commondef.h" target-dir="OCR/libexidcard" />
        <source-file src="src/ios/OCR/libexidcard/dicts/zocr0.lib" target-dir="OCR/libexidcard/dicts" />
        <header-file src="src/ios/OCR/libexidcard/excards.h" target-dir="OCR/libexidcard" />
        <source-file src="src/ios/OCR/libexidcard/libexidcardios.a" framework="true" target-dir="OCR/libexidcard" />
        <header-file src="src/ios/OCR/Model/Capture.h" target-dir="OCR/Model" />
        <source-file src="src/ios/OCR/Model/Capture.m" target-dir="OCR/Model" />
        <header-file src="src/ios/OCR/Model/IdInfo.h" target-dir="OCR/Model" />
        <source-file src="src/ios/OCR/Model/IdInfo.m" target-dir="OCR/Model" />
        <header-file src="src/ios/OCR/Model/UserDefaults.h" target-dir="OCR/Model" />
        <source-file src="src/ios/OCR/Model/UserDefaults.m" target-dir="OCR/Model" />
        <header-file src="src/ios/OCR/View/QuartzHelpLibrary.h" target-dir="OCR/View" />
        <source-file src="src/ios/OCR/View/QuartzHelpLibrary.m" target-dir="OCR/View" />
        <!-- 添加图片资源的示例 -->
        <!--<resource-file src="src/ios/icon.png" />-->
        <!--<resource-file src="src/ios/CDVCapture.bundle" />-->
        <!--添加framework的示例-->
        <!--<framework src="ImageIO.framework" weak="true" />-->

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PTScanOCR">
                <param name="android-package" value="asp.citic.ptframework.plugin.ocr.PTScanOCR"/>
            </feature>
        </config-file>
        <config-file target="res/values/colors.xml" parent="/*">
            <color name="viewfinder_frame">#ff000000</color>
            <color name="viewfinder_laser">#ffff0000</color>
            <color name="viewfinder_mask">#60000000</color>
            <color name="viewfinder_box">#ffafafaf</color>
            <color name="result_view">#b0000000</color>
            <color name="possible_result_points">#c0ffff00</color>
        </config-file>

		<!-- 添加插件入口 -->
		<source-file src="src/android/PTScanOCR.java" target-dir="src/asp/citic/ptframework/plugin/ocr" />

		<!-- 添加插件所需权限 -->
		<config-file target="AndroidManifest.xml" parent="/*/application">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.VIBRATE"/>
			
			<activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
			android:name="com.exidcard.CaptureActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape">
            </activity>
        </config-file>
		 
		
		<!-- 添加插件库文件 -->
		<resource-file src="src/android/res/beep.ogg" target="res/raw/beep.ogg" />
		<resource-file src="src/android/res/zocr0.lib" target="assets/ocr/zocr0.lib" />
		<resource-file src="src/android/res/IDCard.cfg" target="assets/ocr/IDCard.cfg" />
		<lib-file src="src/android/res/libexidcard.so" target-dir="libs/armeabi" />
		<lib-file src="src/android/res/libexidcard.so" target-dir="libs/armeabi-v7a" />
		<!-- 添加插件功能文件 -->
		<source-file src="src/android/com/exidcard/camera/AutoFocusCallback.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/camera" />
		<source-file src="src/android/com/exidcard/camera/CameraConfigurationManager.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/camera" />
		<source-file src="src/android/com/exidcard/camera/CameraManager.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/camera" />
		<source-file src="src/android/com/exidcard/camera/FlashlightManager.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/camera" />
		<source-file src="src/android/com/exidcard/camera/PictureCallback.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/camera" />
		<source-file src="src/android/com/exidcard/camera/PreviewCallback.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/camera" />
		
		<source-file src="src/android/com/exidcard/decoding/CaptureActivityHandler.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/decoding" />
		<source-file src="src/android/com/exidcard/decoding/DecodeHandler.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/decoding" />
		<source-file src="src/android/com/exidcard/decoding/DecodeThread.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/decoding" />
		<source-file src="src/android/com/exidcard/decoding/FinishListener.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/decoding" />
		<source-file src="src/android/com/exidcard/decoding/InactivityTimer.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/decoding" />
		
		<source-file src="src/android/com/exidcard/view/ViewfinderView.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard/view" />
		
		<source-file src="src/android/com/exidcard/CaptureActivity.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard" />
		<source-file src="src/android/com/exidcard/ExIDCardReco.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard" />
		<source-file src="src/android/com/exidcard/ExIDCardResult.java" target-dir="src/asp/citic/ptframework/plugin/ocr/exidcard" />
        <!-- 添加插件资源文件 -->
		<resource-file src="src/android/res/activity_exid_card.xml" target="res/layout/activity_exid_card.xml" />
		<resource-file src="src/android/res/ids.xml" target="res/values/ids.xml" />
		
    </platform>

</plugin>
